@use "mixins" as *;

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// BASE
body {
  font-family: "TheFuture-Regular", ui-system, sans-serif;
  font-size: var(--default-font-size);
  color: var(--color-text);
  background-image: linear-gradient(
    45deg,
    var(--body-color-bg-1),
    var(--body-color-bg-2),
    var(--body-color-bg-3)
  );
}

header {
  text-align: center;
  padding: 4rem 0;
  h1 {
    font-size: var(--h1-font-size);
  }
}

section {
  padding: 4rem 0;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.subheader {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 2rem;
  background: #ffffff77;
  border-radius: var(--border-radius-s);
  backdrop-filter: blur(1px);
  box-shadow: var(--box-shadow);
  text-wrap: pretty;

  @include respond(tablet) {
    width: 100%;
  }
}
