:root {
  --color-text: #3c4043;
  --body-color-bg-1: #00d084;
  --body-color-bg-2: #57b1c7;
  --body-color-bg-3: #7bdcb5;
  --accordion-color-bg: #fff;
  --accordion-color-bg-dark: #f0f0f0;
  --default-font-size: 16px;
  --title-font-size: 20px;
  --h1-font-size: 42px;
  --border-radius-l: 28px;
  --border-radius-s: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TheFuture-Regular", ui-system, sans-serif;
  font-size: var(--default-font-size);
  color: var(--color-text);
  background-image: linear-gradient(45deg, var(--body-color-bg-1), var(--body-color-bg-2), var(--body-color-bg-3));
}

header {
  text-align: center;
  padding: 4rem 0;
}
header h1 {
  font-size: var(--h1-font-size);
}

section {
  padding: 4rem 0;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.subheader {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
  background: rgba(255, 255, 255, 0.4666666667);
  padding: 2rem;
  border-radius: var(--border-radius-s);
  backdrop-filter: blur(1px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 56.25em) {
  .subheader {
    width: 100%;
  }
}

@font-face {
  font-family: "TheFuture-Regular";
  src: url("../fonts/OTF-TheFuture-Regular.otf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TheFuture-Bold";
  src: url("../fonts/OTF-TheFuture-Bold.otf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.accordion {
  width: 40rem;
  background-color: var(--accordion-color-bg);
  padding: 2rem;
  border-radius: var(--border-radius-l);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .accordion {
    width: 100%;
  }
}
.accordion dt {
  font-family: "TheFuture-Bold", system-ui, sans-serif;
  font-size: var(--title-font-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.accordion dt:not(:first-child) {
  margin-top: 1rem;
}
.accordion dt svg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: rotate 0.3s ease-in-out, background-color 0.3s ease;
}
.accordion dt:hover svg {
  background-color: var(--accordion-color-bg-dark);
}
.accordion dt[aria-expanded=true] + dd {
  display: block;
  padding: 1rem;
  animation: 0.5s fadeIn ease-in-out;
}
.accordion dt[aria-expanded=true] svg {
  rotate: 90deg;
  background-color: var(--accordion-color-bg-dark);
}
.accordion dd {
  display: none;
}
